<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to your custom CSS file -->
</head>
<body>
    {% if 'username' in session %}
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-primary-custom">
        <a class="navbar-brand text-white" href="{{ url_for('home') }}">Home</a>
        <h1 class="navbar-brand navbar-center text-white" >Unifind</h1>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('predict') }}">Prediction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %}

    <!-- Main Content -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
